/* Modular CSS */

*{
	box-sizing: border-box;
}

body{
	background-color: #FFF;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	color: #333;
}

a{
	color: gray;
	text-decoration: none;
}

#container{
	margin: 0 auto;
}

#modular{
	text-align: center;
}

#controls{
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
}

input[type="number"]{
	font-size: 24px;
	font-weight: lighter;
	text-align: center;
	width: 4em;
	color: #333;
	background-color: #EEE;
	border: none;
	padding: .5ex 1ex;
}

a:hover,
input:focus{
	color: #EA5B13;
}


#credits{
	display: none;
	visibility: hidden;
	margin: 3em 0 0 0;
	text-align: center;
	color: lightgray;
	font-size: 11px;
}

#credits li{
	list-style-type: none;
	display: inline-block;
	margin: 0 1em;
}

#yell{
	display: none;
	color: rgba(255, 255, 255, .4);
	font-size: 40%;
	text-align: center;
}

input[type="range"]{
	display: inline-block;
	width: 13em;
	margin: 1.5em 1em;
}